<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampl.communt.mapper.PublishMapper">
    <insert id="insert" parameterType="com.exampl.communt.mode.PublishMode">
        INSERT INTO publish
        (title,describe_text,label,creat_id,reply_count,view_count,gmt_create,gmt_modified)
        VALUES (#{title},#{describeText},#{label},#{creatId},#{replyCount},#{viewCount},#{gmtCreate},#{gmtModified})
    </insert>
    <select id="select" parameterType="java.lang.Integer" resultType="com.exampl.communt.mode.PublishMode">
        SELECT * FROM publish LIMIT #{page},#{size};
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
       SELECT COUNT(1) FROM publish
    </select>
    <select id="selectByIdInfo" resultType="com.exampl.communt.mode.PublishMode">
       SELECT COUNT * FROM publish where id=#{id}
    </select>
</mapper>